* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 75%;
    margin: 4px;
    background-color: white;
}

#wrapper {
    width: 22em;
}

table {
    width: 100%;
}

td.label {
    white-space: nowrap;
}

tr.spacer {
    font-weight: bold;
}

td[colspan="1"] {
    width: 60px;
}

td[colspan="2"] {
    width: 30px;
}

input {
    width: 100%;
    text-align: center;
    border: 1px solid #111;
}

input.error {
    background-color: #fdd;
}

input.default {
    background-color: #f0f0f0;
}

button {
    width: 100%;
    display: inline-block;
    margin: 2px 0;
}

button.wide {
    width: 100%;
}

button.narrow {
    width: 49%;
}

button.enabled {
    font-weight: bold;
}

hr {
    margin: 5px 0;
}

#buttons {
    padding: 0 2px;
    text-align: center;
}

.tac {
    text-align: center;
}